/*
  If you get stuck, feel free to watch the follow-up videos where I'll show you one solution
*/

/* ================================= 
  Base Element Styles
==================================== */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Varela Round', sans-serif;
  line-height: 1.6;
  color: #3a3a3a;
}

p {
  font-size: .95em;
  margin-bottom: 1.8em;
}

h2,
h3,
a {
  color: #093a58;
}

h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */
.main-header {
  padding: 1em;
  text-align: center;
}

.name {
  font-size: 1.25em;
}

.name a,
.main-nav a {
  text-align: center;
  display: inline-block;
}

.main-nav a {
  font-size: .95em;
  color: #3acec2;
  text-transform: uppercase;
  padding: 0.5em 2em;
}

.main-nav a:hover {
  color: #093a58;
}

/* ---- Layout Containers ---- */

.banner {
  color: #fff;
  background: #3acec2;
  padding: 2em;
  text-align: center;
}

.main-footer {
  background: #d9e4ea;
  padding: 2em 0;
  text-align: center;
}

/* ---- Page Elements ---- */
.logo {
  width: 190px;
}

.col {
  padding: 1em;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {

  .container {
    max-width: 1150px;
    width: 80%;
    margin: 0 auto;
  }



  /* ---- Header ---- */
  .main-header {
    padding: 1em;
    text-align: left;
  }

  .name {
    float: left;
    width: 35%;
    margin-bottom: 0;
  }

  .main-nav {
    float: right;
    width: 65%;
    text-align: right;
  }

  .main-nav li {
    display: inline-block;
  }

  .main-nav a {
    display: inline-block;
    padding: 0.5em 0.75em;
  }



  /* ---- Banner ---- */
  /* No styles */



  /* ---- Main ---- */
  .secondary,
  .primary {
    float: left;
    width: 50%;
  }

  .tertiary {
    clear: both;
  }


  /* ---- Float clearfix ---- */

  .clearfix::after {
    content: " ";
    display: table;
    clear: both;
  }

}



@media (min-width: 1000px) {

  .secondary,
  .primary,
  .tertiary {
    float: left;
    width: 33.333333%;
    clear: none;
  }

}